#macro(xrText $tag $value)
#if($xml.has($value))
<$tag>$xml.text($value)</$tag>
#end
#end

#macro(xrDate $tag $value)
#if($xml.has($value))
<$tag>$xml.date($value)</$tag>
#end
#end

#macro(xrNumber $tag $value)
#if($xml.has($value))
<$tag>$xml.number($value)</$tag>
#end
#end

#macro(xrAmount $tag $value $currency)
#if($xml.has($value))
<$tag#if($xml.has($currency)) currencyID="$xml.attr($currency)"#end>$xml.amount($value)</$tag>
#end
#end

#macro(xrQuantity $tag $value $unitCode)
#if($xml.has($value))
<$tag#if($xml.has($unitCode)) unitCode="$xml.attr($unitCode)"#end>$xml.number($value)</$tag>
#end
#end

#macro(xrIdentifier $tag $value $schemeId)
#if($xml.has($value))
<$tag#if($xml.has($schemeId)) schemeID="$xml.attr($schemeId)"#end>$xml.text($value)</$tag>
#end
#end

#macro(xrNote $tag $note)
#set($xrNoteText = $note.text)
#set($xrSubjectCode = $note.subjectCode)
#if($xml.has($xrNoteText))
  #if($xml.has($xrSubjectCode))
    #set($xrHash = '#')
<$tag>$xrHash$xml.text($xrSubjectCode)$xrHash$xml.text($xrNoteText)</$tag>
  #else
<$tag>$xml.text($xrNoteText)</$tag>
  #end
#end
#end

#macro(xrProjectReference $projectReferenceId)
#if($xml.has($projectReferenceId))
<cac:ProjectReference>
  #xrText("cbc:ID" $projectReferenceId)
</cac:ProjectReference>
#end
#end

#macro(xrDocumentReference $wrapperTag $id)
#if($xml.has($id))
<$wrapperTag>
  #xrText("cbc:ID" $id)
</$wrapperTag>
#end
#end

#macro(xrOrderReference $ref)
#set($xrHasOrderReference = $xml.has($ref.id) || $xml.has($ref.salesOrderId))
#if($xrHasOrderReference)
<cac:OrderReference>
  #xrText("cbc:ID" $ref.id)
  #xrText("cbc:SalesOrderID" $ref.salesOrderId)
</cac:OrderReference>
#end
#end

#macro(xrBillingReference $ref)
#set($xrHasBillingReference = $xml.has($ref.id) || $xml.has($ref.issueDate))
#if($xrHasBillingReference)
<cac:BillingReference>
  <cac:InvoiceDocumentReference>
    #xrText("cbc:ID" $ref.id)
    #xrDate("cbc:IssueDate" $ref.issueDate)
  </cac:InvoiceDocumentReference>
</cac:BillingReference>
#end
#end

#macro(xrInvoicedObjectReference $ref)
#set($xrHasObjectReference = $xml.has($ref.id))
#if($xrHasObjectReference)
<cac:AdditionalDocumentReference>
  #xrIdentifier("cbc:ID" $ref.id $ref.schemeId)
  <cbc:DocumentTypeCode>130</cbc:DocumentTypeCode>
</cac:AdditionalDocumentReference>
#end
#end

#macro(xrInvoicePeriod $period)
#set($xrHasPeriod = $xml.has($period.startDate) || $xml.has($period.endDate) || $xml.has($period.descriptionCode))
#if($xrHasPeriod)
<cac:InvoicePeriod>
  #xrDate("cbc:StartDate" $period.startDate)
  #xrDate("cbc:EndDate" $period.endDate)
  #xrText("cbc:DescriptionCode" $period.descriptionCode)
</cac:InvoicePeriod>
#end
#end

#macro(xrAddress $wrapperTag $address)
#set($xrAddressLine = "")
#if($xml.has($address.addressLine))
  #set($xrAddressLine = $address.addressLine)
#end
#set($xrHasAddress = $xml.has($address.street) || $xml.has($address.additionalStreet) || $xml.has($xrAddressLine) || $xml.has($address.city) || $xml.has($address.postalCode) || $xml.has($address.countrySubdivision) || $xml.has($address.countryCode))
#if($xrHasAddress)
<$wrapperTag>
  #xrText("cbc:StreetName" $address.street)
  #xrText("cbc:AdditionalStreetName" $address.additionalStreet)
  #xrText("cbc:CityName" $address.city)
  #xrText("cbc:PostalZone" $address.postalCode)
  #xrText("cbc:CountrySubentity" $address.countrySubdivision)
  #if($xml.has($xrAddressLine))
  <cac:AddressLine>
    #xrText("cbc:Line" $xrAddressLine)
  </cac:AddressLine>
  #end
  #if($xml.has($address.countryCode))
  <cac:Country>
    #xrText("cbc:IdentificationCode" $address.countryCode)
  </cac:Country>
  #end
</$wrapperTag>
#end
#end

#macro(xrPostalAddress $address)
#xrAddress("cac:PostalAddress" $address)
#end

#macro(xrNestedParty $wrapperTag $party)
#set($xrHasParty = $xml.has($party.name) || $xml.has($party.tradeName) || $xml.has($party.endpoint.value) || $xml.has($party.identifier) || $xml.has($party.identifiers) || $xml.has($party.sepaCreditorId) || $xml.has($party.vatIdentifier) || $xml.has($party.taxIdentifier) || $xml.has($party.legalRegistrationId) || $xml.has($party.legalForm) || $xml.has($party.address) || $xml.has($party.contact))
#if($xrHasParty)
<$wrapperTag>
  <cac:Party>
    #xrIdentifier("cbc:EndpointID" $party.endpoint.value $party.endpoint.schemeId)
    #if($xml.has($party.sepaCreditorId))
    <cac:PartyIdentification>
      <cbc:ID schemeID="SEPA">$xml.text($party.sepaCreditorId)</cbc:ID>
    </cac:PartyIdentification>
    #end
    #if($xml.has($party.identifier.value))
    <cac:PartyIdentification>
      #xrIdentifier("cbc:ID" $party.identifier.value $party.identifier.schemeId)
    </cac:PartyIdentification>
    #end
    #if($xml.has($party.identifiers))
      #foreach($identifier in $party.identifiers)
        #if($xml.has($identifier.value))
    <cac:PartyIdentification>
      #xrIdentifier("cbc:ID" $identifier.value $identifier.schemeId)
    </cac:PartyIdentification>
        #end
      #end
    #end
    #if($xml.has($party.tradeName))
    <cac:PartyName>
      #xrText("cbc:Name" $party.tradeName)
    </cac:PartyName>
    #end
    #xrPostalAddress($party.address)
    #if($xml.has($party.vatIdentifier))
    <cac:PartyTaxScheme>
      #xrText("cbc:CompanyID" $party.vatIdentifier)
      <cac:TaxScheme>
        <cbc:ID>VAT</cbc:ID>
      </cac:TaxScheme>
    </cac:PartyTaxScheme>
    #end
    #if($xml.has($party.taxIdentifier))
    <cac:PartyTaxScheme>
      #xrText("cbc:CompanyID" $party.taxIdentifier)
      <cac:TaxScheme>
        <cbc:ID>TAX</cbc:ID>
      </cac:TaxScheme>
    </cac:PartyTaxScheme>
    #end
    #if($xml.has($party.name) || $xml.has($party.legalRegistrationId) || $xml.has($party.legalForm))
    <cac:PartyLegalEntity>
      #xrText("cbc:RegistrationName" $party.name)
      #xrIdentifier("cbc:CompanyID" $party.legalRegistrationId $party.legalRegistrationIdSchemeId)
      #xrText("cbc:CompanyLegalForm" $party.legalForm)
    </cac:PartyLegalEntity>
    #end
    #set($xrHasContact = $xml.has($party.contact.name) || $xml.has($party.contact.phone) || $xml.has($party.contact.email))
    #if($xrHasContact)
    <cac:Contact>
      #xrText("cbc:Name" $party.contact.name)
      #xrText("cbc:Telephone" $party.contact.phone)
      #xrText("cbc:ElectronicMail" $party.contact.email)
    </cac:Contact>
    #end
  </cac:Party>
</$wrapperTag>
#end
#end

#macro(xrFlatParty $wrapperTag $party)
#set($xrHasFlatParty = $xml.has($party.name) || $xml.has($party.identifier) || $xml.has($party.sepaCreditorId) || $xml.has($party.vatIdentifier) || $xml.has($party.legalRegistrationId) || $xml.has($party.address))
#if($xrHasFlatParty)
<$wrapperTag>
  #if($xml.has($party.sepaCreditorId))
  <cac:PartyIdentification>
    <cbc:ID schemeID="SEPA">$xml.text($party.sepaCreditorId)</cbc:ID>
  </cac:PartyIdentification>
  #end
  #if($xml.has($party.identifier.value))
  <cac:PartyIdentification>
    #xrIdentifier("cbc:ID" $party.identifier.value $party.identifier.schemeId)
  </cac:PartyIdentification>
  #end
  #if($xml.has($party.name))
  <cac:PartyName>
    #xrText("cbc:Name" $party.name)
  </cac:PartyName>
  #end
  #xrPostalAddress($party.address)
  #if($xml.has($party.vatIdentifier))
  <cac:PartyTaxScheme>
    #xrText("cbc:CompanyID" $party.vatIdentifier)
    <cac:TaxScheme>
      <cbc:ID>VAT</cbc:ID>
    </cac:TaxScheme>
  </cac:PartyTaxScheme>
  #end
  #if($xml.has($party.legalRegistrationId))
  <cac:PartyLegalEntity>
    #xrIdentifier("cbc:CompanyID" $party.legalRegistrationId $party.legalRegistrationIdSchemeId)
  </cac:PartyLegalEntity>
  #end
</$wrapperTag>
#end
#end

#macro(xrDelivery $delivery)
#set($xrHasDelivery = $xml.has($delivery.partyName) || $xml.has($delivery.location.id) || $xml.has($delivery.actualDate) || $xml.has($delivery.address))
#if($xrHasDelivery)
<cac:Delivery>
  #xrDate("cbc:ActualDeliveryDate" $delivery.actualDate)
  #if($xml.has($delivery.location.id) || $xml.has($delivery.address))
  <cac:DeliveryLocation>
    #xrIdentifier("cbc:ID" $delivery.location.id $delivery.location.schemeId)
    #xrAddress("cac:Address" $delivery.address)
  </cac:DeliveryLocation>
  #end
  #if($xml.has($delivery.partyName))
  <cac:DeliveryParty>
    <cac:PartyName>
      #xrText("cbc:Name" $delivery.partyName)
    </cac:PartyName>
  </cac:DeliveryParty>
  #end
</cac:Delivery>
#end
#end

#macro(xrPaymentMeans $payment)
#set($xrHasPayment = $xml.has($payment.meansCode) || $xml.has($payment.meansText) || $xml.has($payment.paymentId) || $xml.has($payment.payeeAccounts) || $xml.has($payment.card) || $xml.has($payment.mandate))
#if($xrHasPayment)
<cac:PaymentMeans>
  #if($xml.has($payment.meansCode))
  <cbc:PaymentMeansCode#if($xml.has($payment.meansText)) name="$xml.attr($payment.meansText)"#end>$xml.text($payment.meansCode)</cbc:PaymentMeansCode>
  #end
  #xrText("cbc:PaymentID" $payment.paymentId)
  #if($xml.has($payment.card))
    #if($xml.has($payment.card.primaryAccountNumberId) || $xml.has($payment.card.holderName))
  <cac:CardAccount>
    #xrText("cbc:PrimaryAccountNumberID" $payment.card.primaryAccountNumberId)
    #xrText("cbc:HolderName" $payment.card.holderName)
  </cac:CardAccount>
    #end
  #end
  #if($xml.has($payment.payeeAccounts))
    #foreach($account in $payment.payeeAccounts)
      #if($xml.has($account.id) || $xml.has($account.name) || $xml.has($account.bic))
  <cac:PayeeFinancialAccount>
    #xrText("cbc:ID" $account.id)
    #xrText("cbc:Name" $account.name)
    #if($xml.has($account.bic))
    <cac:FinancialInstitutionBranch>
      #xrText("cbc:ID" $account.bic)
    </cac:FinancialInstitutionBranch>
    #end
  </cac:PayeeFinancialAccount>
      #end
    #end
  #end
  #if($xml.has($payment.mandate))
    #if($xml.has($payment.mandate.id) || $xml.has($payment.mandate.payerAccountId))
  <cac:PaymentMandate>
    #xrText("cbc:ID" $payment.mandate.id)
    #if($xml.has($payment.mandate.payerAccountId))
    <cac:PayerFinancialAccount>
      #xrText("cbc:ID" $payment.mandate.payerAccountId)
    </cac:PayerFinancialAccount>
    #end
  </cac:PaymentMandate>
    #end
  #end
</cac:PaymentMeans>
#end
#end

#macro(xrPaymentTerms $terms)
#if($xml.has($terms.note))
<cac:PaymentTerms>
  #xrText("cbc:Note" $terms.note)
</cac:PaymentTerms>
#end
#end

#macro(xrTaxCategory $wrapperTag $tax)
#set($xrHasTax = $xml.has($tax.categoryCode) || $xml.has($tax.rate) || $xml.has($tax.exemptionReason) || $xml.has($tax.exemptionReasonCode))
#if($xrHasTax)
<$wrapperTag>
  #xrText("cbc:ID" $tax.categoryCode)
  #xrNumber("cbc:Percent" $tax.rate)
  #xrText("cbc:TaxExemptionReason" $tax.exemptionReason)
  #xrText("cbc:TaxExemptionReasonCode" $tax.exemptionReasonCode)
  <cac:TaxScheme>
    <cbc:ID>VAT</cbc:ID>
  </cac:TaxScheme>
</$wrapperTag>
#end
#end

#macro(xrAllowanceCharge $entry $chargeIndicator $currency)
#set($xrHasAllowance = $xml.has($entry.amount) || $xml.has($entry.baseAmount) || $xml.has($entry.percent) || $xml.has($entry.reason) || $xml.has($entry.reasonCode) || $xml.has($entry.tax))
#if($xrHasAllowance)
<cac:AllowanceCharge>
  <cbc:ChargeIndicator>$chargeIndicator</cbc:ChargeIndicator>
  #xrText("cbc:AllowanceChargeReasonCode" $entry.reasonCode)
  #xrText("cbc:AllowanceChargeReason" $entry.reason)
  #xrNumber("cbc:MultiplierFactorNumeric" $entry.percent)
  #xrAmount("cbc:Amount" $entry.amount $currency)
  #xrAmount("cbc:BaseAmount" $entry.baseAmount $currency)
  #xrTaxCategory("cac:TaxCategory" $entry.tax)
</cac:AllowanceCharge>
#end
#end

#macro(xrTaxTotal $documentTaxAmount $accountingTaxAmount $vatBreakdowns $documentCurrency $taxCurrency)
#set($xrHasDocumentTaxTotal = $xml.has($documentTaxAmount) || $xml.has($vatBreakdowns))
#set($xrHasAccountingTaxTotal = $xml.has($accountingTaxAmount) && $xml.has($taxCurrency) && (!$xml.has($documentCurrency) || $taxCurrency != $documentCurrency))
#if($xrHasDocumentTaxTotal)
<cac:TaxTotal>
  #xrAmount("cbc:TaxAmount" $documentTaxAmount $documentCurrency)
  #if($xml.has($vatBreakdowns))
    #foreach($vat in $vatBreakdowns)
      #set($xrHasTaxSubtotal = $xml.has($vat.taxableAmount) || $xml.has($vat.taxAmount) || $xml.has($vat.categoryCode) || $xml.has($vat.rate) || $xml.has($vat.exemptionReason) || $xml.has($vat.exemptionReasonCode))
      #if($xrHasTaxSubtotal)
  <cac:TaxSubtotal>
    #xrAmount("cbc:TaxableAmount" $vat.taxableAmount $documentCurrency)
    #xrAmount("cbc:TaxAmount" $vat.taxAmount $documentCurrency)
    #xrTaxCategory("cac:TaxCategory" $vat)
  </cac:TaxSubtotal>
      #end
    #end
  #end
</cac:TaxTotal>
#end
#if($xrHasAccountingTaxTotal)
<cac:TaxTotal>
  #xrAmount("cbc:TaxAmount" $accountingTaxAmount $taxCurrency)
</cac:TaxTotal>
#end
#end

#macro(xrMonetaryTotal $totals $currency)
#set($xrHasMonetaryTotal = $xml.has($totals.lineExtensionAmount) || $xml.has($totals.allowanceTotalAmount) || $xml.has($totals.chargeTotalAmount) || $xml.has($totals.taxExclusiveAmount) || $xml.has($totals.taxInclusiveAmount) || $xml.has($totals.prepaidAmount) || $xml.has($totals.payableRoundingAmount) || $xml.has($totals.payableAmount))
#if($xrHasMonetaryTotal)
<cac:LegalMonetaryTotal>
  #xrAmount("cbc:LineExtensionAmount" $totals.lineExtensionAmount $currency)
  #xrAmount("cbc:TaxExclusiveAmount" $totals.taxExclusiveAmount $currency)
  #xrAmount("cbc:TaxInclusiveAmount" $totals.taxInclusiveAmount $currency)
  #xrAmount("cbc:AllowanceTotalAmount" $totals.allowanceTotalAmount $currency)
  #xrAmount("cbc:ChargeTotalAmount" $totals.chargeTotalAmount $currency)
  #xrAmount("cbc:PrepaidAmount" $totals.prepaidAmount $currency)
  #xrAmount("cbc:PayableRoundingAmount" $totals.payableRoundingAmount $currency)
  #xrAmount("cbc:PayableAmount" $totals.payableAmount $currency)
</cac:LegalMonetaryTotal>
#end
#end

#macro(xrAdditionalDocumentReference $doc)
#set($xrHasDoc = $xml.has($doc.id) || $xml.has($doc.description) || $xml.has($doc.embedded.content) || $xml.has($doc.embedded.externalUri))
#if($xrHasDoc)
<cac:AdditionalDocumentReference>
  #xrText("cbc:ID" $doc.id)
  #xrText("cbc:DocumentDescription" $doc.description)
  #if($xml.has($doc.embedded.content) || $xml.has($doc.embedded.externalUri))
  <cac:Attachment>
    #if($xml.has($doc.embedded.content))
    <cbc:EmbeddedDocumentBinaryObject#if($xml.has($doc.embedded.mimeCode)) mimeCode="$xml.attr($doc.embedded.mimeCode)"#end#if($xml.has($doc.embedded.filename)) filename="$xml.attr($doc.embedded.filename)"#end>$xml.text($doc.embedded.content)</cbc:EmbeddedDocumentBinaryObject>
    #end
    #if($xml.has($doc.embedded.externalUri))
    <cac:ExternalReference>
      #xrText("cbc:URI" $doc.embedded.externalUri)
    </cac:ExternalReference>
    #end
  </cac:Attachment>
  #end
</cac:AdditionalDocumentReference>
#end
#end

#macro(xrPrice $price $currency)
#set($xrHasPrice = $xml.has($price.netAmount) || $xml.has($price.discount) || $xml.has($price.baseQuantity))
#if($xrHasPrice)
<cac:Price>
  #xrAmount("cbc:PriceAmount" $price.netAmount $currency)
  #xrQuantity("cbc:BaseQuantity" $price.baseQuantity $price.baseQuantityUnitCode)
  #set($xrHasPriceDiscount = $xml.has($price.discount.amount) || $xml.has($price.discount.baseAmount))
  #if($xrHasPriceDiscount)
  <cac:AllowanceCharge>
    <cbc:ChargeIndicator>false</cbc:ChargeIndicator>
    #xrAmount("cbc:Amount" $price.discount.amount $currency)
    #xrAmount("cbc:BaseAmount" $price.discount.baseAmount $currency)
  </cac:AllowanceCharge>
  #end
</cac:Price>
#end
#end

#macro(xrItem $item $tax)
#set($xrHasItem = $xml.has($item.description) || $xml.has($item.name) || $xml.has($item.sellersItemId) || $xml.has($item.buyersItemId) || $xml.has($item.standardId) || $xml.has($item.classifications) || $xml.has($item.originCountryCode) || $xml.has($item.attributes) || $xml.has($tax))
#if($xrHasItem)
<cac:Item>
  #xrText("cbc:Description" $item.description)
  #xrText("cbc:Name" $item.name)
  #if($xml.has($item.buyersItemId))
  <cac:BuyersItemIdentification>
    #xrText("cbc:ID" $item.buyersItemId)
  </cac:BuyersItemIdentification>
  #end
  #if($xml.has($item.sellersItemId))
  <cac:SellersItemIdentification>
    #xrText("cbc:ID" $item.sellersItemId)
  </cac:SellersItemIdentification>
  #end
  #if($xml.has($item.standardId))
  <cac:StandardItemIdentification>
    #xrIdentifier("cbc:ID" $item.standardId $item.standardIdSchemeId)
  </cac:StandardItemIdentification>
  #end
  #if($xml.has($item.originCountryCode))
  <cac:OriginCountry>
    #xrText("cbc:IdentificationCode" $item.originCountryCode)
  </cac:OriginCountry>
  #end
  #if($xml.has($item.classifications))
    #foreach($classification in $item.classifications)
      #if($xml.has($classification.code))
  <cac:CommodityClassification>
    <cbc:ItemClassificationCode#if($xml.has($classification.listId)) listID="$xml.attr($classification.listId)"#end#if($xml.has($classification.listVersionId)) listVersionID="$xml.attr($classification.listVersionId)"#end>$xml.text($classification.code)</cbc:ItemClassificationCode>
  </cac:CommodityClassification>
      #end
    #end
  #end
  #xrTaxCategory("cac:ClassifiedTaxCategory" $tax)
  #if($xml.has($item.attributes))
    #foreach($attribute in $item.attributes)
      #if($xml.has($attribute.name) || $xml.has($attribute.value))
  <cac:AdditionalItemProperty>
    #xrText("cbc:Name" $attribute.name)
    #xrText("cbc:Value" $attribute.value)
  </cac:AdditionalItemProperty>
      #end
    #end
  #end
</cac:Item>
#end
#end

#macro(xrInvoiceLine $line $currency)
#set($xrHasLine = $xml.has($line.id) || $xml.has($line.note) || $xml.has($line.objectReference) || $xml.has($line.quantity) || $xml.has($line.lineExtensionAmount) || $xml.has($line.accountingCost) || $xml.has($line.orderLineReference) || $xml.has($line.period) || $xml.has($line.allowances) || $xml.has($line.charges) || $xml.has($line.item) || $xml.has($line.vat) || $xml.has($line.price))
#if($xrHasLine)
<cac:InvoiceLine>
  #xrText("cbc:ID" $line.id)
  #xrText("cbc:Note" $line.note)
  #xrQuantity("cbc:InvoicedQuantity" $line.quantity $line.quantityUnitCode)
  #xrAmount("cbc:LineExtensionAmount" $line.lineExtensionAmount $currency)
  #xrText("cbc:AccountingCost" $line.accountingCost)
  #xrInvoicePeriod($line.period)
  #if($xml.has($line.orderLineReference))
  <cac:OrderLineReference>
    #xrText("cbc:LineID" $line.orderLineReference)
  </cac:OrderLineReference>
  #end
  #set($xrHasLineObjectReference = $xml.has($line.objectReference.id))
  #if($xrHasLineObjectReference)
  <cac:DocumentReference>
    #xrIdentifier("cbc:ID" $line.objectReference.id $line.objectReference.schemeId)
    <cbc:DocumentTypeCode>130</cbc:DocumentTypeCode>
  </cac:DocumentReference>
  #end
  #if($xml.has($line.allowances))
    #foreach($allowance in $line.allowances)
      #xrAllowanceCharge($allowance "false" $currency)
    #end
  #end
  #if($xml.has($line.charges))
    #foreach($charge in $line.charges)
      #xrAllowanceCharge($charge "true" $currency)
    #end
  #end
  #xrItem($line.item $line.vat)
  #xrPrice($line.price $currency)
</cac:InvoiceLine>
#end
#end
#set($currency = $xr.invoice.documentCurrencyCode)
#set($taxCurrency = $xr.invoice.taxCurrencyCode)
<Invoice
  xmlns="urn:oasis:names:specification:ubl:schema:xsd:Invoice-2"
  xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2"
  xmlns:cec="urn:oasis:names:specification:ubl:schema:xsd:CommonExtensionComponents-2"
  xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2">
  ## Header scalars and process identifiers
  #xrText("cbc:CustomizationID" $xr.process.customizationId)
  #xrText("cbc:ProfileID" $xr.process.profileId)
  #xrText("cbc:ID" $xr.invoice.id)
  #xrDate("cbc:IssueDate" $xr.invoice.issueDate)
  #xrDate("cbc:DueDate" $xr.invoice.dueDate)
  #xrText("cbc:InvoiceTypeCode" $xr.invoice.typeCode)
  #if($xml.has($xr.notes))
    #foreach($note in $xr.notes)
      #xrNote("cbc:Note" $note)
    #end
  #end
  #xrDate("cbc:TaxPointDate" $xr.invoice.taxPointDate)
  #xrText("cbc:DocumentCurrencyCode" $xr.invoice.documentCurrencyCode)
  #xrText("cbc:TaxCurrencyCode" $xr.invoice.taxCurrencyCode)
  #xrText("cbc:AccountingCost" $xr.invoice.accountingCost)
  #xrText("cbc:BuyerReference" $xr.invoice.buyerReference)
  #xrInvoicePeriod($xr.invoicePeriod)

  ## Top-level references and document object references
  #xrOrderReference($xr.orderReference)
  #if($xml.has($xr.precedingInvoices))
    #foreach($reference in $xr.precedingInvoices)
      #xrBillingReference($reference)
    #end
  #end
  #xrDocumentReference("cac:DespatchDocumentReference" $xr.despatchReferenceId)
  #xrDocumentReference("cac:ReceiptDocumentReference" $xr.receiptReferenceId)
  #xrDocumentReference("cac:OriginatorDocumentReference" $xr.originatorReferenceId)
  #xrDocumentReference("cac:ContractDocumentReference" $xr.contractReferenceId)
  #xrInvoicedObjectReference($xr.invoiceObjectReference)
  #if($xml.has($xr.supportingDocuments))
    #foreach($doc in $xr.supportingDocuments)
      #xrAdditionalDocumentReference($doc)
    #end
  #end
  #xrProjectReference($xr.projectReferenceId)

  ## Parties
  #xrNestedParty("cac:AccountingSupplierParty" $xr.seller)
  #xrNestedParty("cac:AccountingCustomerParty" $xr.buyer)
  #xrFlatParty("cac:PayeeParty" $xr.payee)
  #xrFlatParty("cac:TaxRepresentativeParty" $xr.taxRepresentative)

  ## Delivery, periods, and payment
  #xrDelivery($xr.delivery)
  #xrPaymentMeans($xr.payment)
  #xrPaymentTerms($xr.paymentTerms)

  ## Document level allowances and charges
  #if($xml.has($xr.documentAllowances))
    #foreach($allowance in $xr.documentAllowances)
      #xrAllowanceCharge($allowance "false" $currency)
    #end
  #end
  #if($xml.has($xr.documentCharges))
    #foreach($charge in $xr.documentCharges)
      #xrAllowanceCharge($charge "true" $currency)
    #end
  #end

  ## VAT and totals
  #xrTaxTotal($xr.totals.taxAmountInDocumentCurrency $xr.totals.taxAmountInTaxCurrency $xr.vatBreakdowns $currency $taxCurrency)
  #xrMonetaryTotal($xr.totals $currency)

  ## Lines
  #if($xml.has($xr.lines))
    #foreach($line in $xr.lines)
      #xrInvoiceLine($line $currency)
    #end
  #end
</Invoice>
